<!DOCTYPE html>

<html>
<head>
  <title><%= @item[:title] %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <link rel="alternate" href="<%= path_for('/atom.xml') %>" type="application/atom+xml" title="Sitewide ATOM Feed"  />

  <link rel="stylesheet" href="<%= path_for('/css/site.css') %>" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="<%= path_for('/css/syntax.css') %>" type="text/css" media="screen, projection" />

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
</head>
<body>
  <div id="logo">TCS Ruby - Multiplatform Performance Improvements</div>

  <%= yield %>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19925645-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>
